html,body {
	font-family:Arial,Verdana,sans-serif; /* deixar Verdana? (button não tem Verdana) */
	margin:0;
	width:100%;
}
h2 {
	margin:0px;
	margin-top:2px;
	margin-left:10px;
	margin-bottom:1px;
	padding:0px;
}
table {
	border-collapse:collapse;
	font-family:Arial,Verdana,sans-serif; /* deixar Verdana? */
	font-size:14px;
}
#divFundo {
	overflow-x:hidden;
	overflow-y:hidden;
	border:0px solid #F00;
}
#divMain {
	overflow-x:hidden;
	overflow-y:hidden;
	border:0px solid #00F;
}
#divText {
	border:0px solid #FF0000;
}
#divTable {
	overflow-x:hidden;
	overflow-y:hidden;
	border:0px solid #0F0;
}
#divFundoHead {
	border:0px solid #0FF;
	overflow-x:hidden;
	overflow-y:hidden;
}
#divTHead {
	border:0px solid #FFF;
}
#divFundoBody {
	border:0px solid #FFF;
	overflow-x:scroll;
	overflow-y:scroll;
}
#divTBody {
	border:0px solid #F00;
	overflow-x:hidden;
	overflow-y:hidden;
}
#divFoot {
	border:0px solid #0000FF;
}
#divMnuTable {
	border:1px solid #000;
}
#tblBody {
	border-bottom:0px solid black;
	border-top:0px solid black;
}
#tblHead {
	border-bottom:0px solid black;
	border-top:0px solid black;
}
tr {
	text-align:center;
}
#tblHead td {
	border-left:1px solid black;
}
#tblBody td {
	border-left:1px solid black;
}
tr:nth-child(odd) {
	padding:3px;
	background-color:#FFFFFF;
}
tr:nth-child(even) {
	padding:3px;
	background-color:#CCFFCC;
}
/*tr:hover {background-color: #F00}*/
td {
	/*border-top:0px solid black;
	border-bottom:0px solid black;
	border-left:1px solid black;*/
	border:0px solid black;
	border-collapse:collapse;
}
button {
	border:1px solid #000;
	font-size:14px;
	font-family:Arial,sans-serif;
	padding:2px 3px 2px 3px;
	margin:1px;
	border-radius:5px;
}
select,button {
	margin-bottom:1px;
}
button.menu { /* onde isso está sendo usado? NA BARRA DE BOTÕES DE main.php */
	background:rgba(1,1,1,0.5); /* FFF -> fallback se não houver transparência */
	border:1px solid #000;
	font-size:14px;
	font-family:Arial;
	padding:3px 3px 3px;
	margin:1px;
}
button.menu_sel { /* onde isso está sendo usado? */
	background:#00BB20;
	border:1px solid #000;
	font-size:14px;
	font-family:Arial;
	padding:1px 1px 1px 1px;
	margin:1px;
}
dl {
	width:100%;
	overflow:hidden;
	margin:0;
}
dt {
	float:left;
	text-align:right;
	width:200px;
	padding-right:5px;
	vertical-align:middle;
}
dd {
	float:left;
	width:70%;
	margin:0;
}
input {
	width:180px;
	margin-bottom:1px;
}
input.short {
	width:80px;
}
input.shorter {
	width:50px;
}
input[type=radio] {
	width:20px;
}
input[type=checkbox] {
	width:20px;
}
input[type='submit'] { /* onde isso está sendo usado? */
	background:#A0C0A0;
	border:1px solid #000000;
	font-size:14px;
	font-family:'Arial';
	text-decoration:none;
	padding:2px 3px 2px 3px;
}
textarea {
	width:500px;
	height:50px;
	margin-bottom:1px;
}

.tooltip {
	text-align: left;
	display: none;
	position: absolute;
	background: #ffe;
	border: 1px solid #eed;
	border-radius: 4px;
	padding: 2px 4px;
}
.tooltip li {
	font-size:12px;
}

:hover + .tooltip {
	display: inline;
}
.langs {
	position:absolute;
	right:0px;
	bottom:0px;
	font-size:14px;
}
.mnuTable {
	position:absolute;
}
.msg {
	background-color:#E0D030; /* Decidir um layout pra isso */
	position:fixed;
	width:800px;
	left:200px;
	top:200px;
	font-size:30px;
}
.wrapper {
	text-align:center;
	padding:15px 0px 15px;
}
.boxes {
	width:1em;
}

#frmMnu {
	margin:0;
	margin-top:0;
	padding:0;
	padding-top:0;
}
#formCor { /* onde isso está sendo usado? */
	background-color: #AACCAA;
}
#menu { /* onde isso está sendo usado? */
	/*background-color: #C0C0A0;*/
	background-color: #FFFF00;
}
#divOverlay {
	visibility:hidden;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index:1000;
	background-image:url(icon/black50.png);
}
#divOverlay div {
	width:500px;
	margin:200px auto;
	background-color:#fff;
	border:1px solid #000;
	padding:15px;
	text-align:center;
}
#tooltip {
	position:absolute;
	display:none;
	font-family:sans-serif;
	font-size:12px;
	color:#fff;
	border:1px solid #999;
	background-color:#555;
	padding-bottom:2px;
	padding-top:2px;
	padding-left:4px;
	padding-right:4px;
}
/*#popup_container {
	font-family: Arial, sans-serif;
	font-size: 15px;
	min-width: 300px;
	max-width: 600px;
	background: #FFF;
	border: solid 5px #999;
	text-align:center;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}*/
div.drag {
	border:1px solid #000;
	padding:5px;
	margin:5px;
	cursor:move;
}

input:valid {
	border: 1px solid #000;
	border-radius: 4px;
}

input:invalid {
	border: 2px solid #F00;
	border-radius: 4px;
}

select:valid {
	border: 1px solid #000;
	border-radius: 4px;
}

select:invalid {
	border: 2px solid #F00;
	border-radius: 4px;
}

radio:valid {
	border: 1px solid #000;
	border-radius: 4px;
}

radio:invalid {
	border: 2px solid #F00;
	border-radius: 4px;
}

